form {
  margin: auto;
  border-radius: 25px;
  width: 65vw;
  margin: 0 auto;
  padding: 20px;
  font-size: 20px;
  font-family: monospace;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(57, 56, 56), rgb(191, 191, 191));
  min-height: 620px;
}

input,
select,
textarea {
  display: block;
  text-align: center;
  margin: 8px auto 8px auto;
  font-family: monospace;
  border: none;
  width: 50vw;
  border-radius: 8px;
  height: 4vh;
  font-size: 20px;
}
textarea {
  height: 8vh;
}
#aciklama {
  border-radius: 8px;
}
input[type="submit"] {
  display: block;
  margin: auto;
  font-size: 20px;
  width: 30vw;
  background-color: rgb(71, 142, 156);
  height: 4vh;
  border-radius: 8px;
  margin-top: 10px;
  transition: 0.7s;
  border: none;
  &:hover {
    background: url(../images/dead.jpg);
    height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 5px 5px 15px white;
    cursor: pointer;
  }
  &:disabled{
    visibility: hidden;
  }
}
.form-button:hover {
  cursor: pointer;
  background-color: rgb(121, 159, 167);
}
